@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.resize-container {
  position: relative;
}

.resize-container::after {
  @apply bg-sky-500;
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 2px;
  opacity: var(--resize-indicator-opacity, 0);
  transition: opacity 150ms;
  cursor: col-resize;
}

.resize-container-left::after {
  left: 0px;
}

.resize-container-right::after {
  right: 0px;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}